

footer{
    display: flex;
    justify-content: space-between;
    justify-items: end;
    border-top: 1px solid #0000002a;
    margin: 0 150px 0 150px ;
}
.footer-2{
    display: flex;
}
footer div{
    margin: 20px;
}
.footer-item2{
    margin-right: 75px;
}
main{
    margin-bottom: 1000px;
}